@using PagedList.Mvc
@model  PagedList.IPagedList<Royal_Project_3.Models.category>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml ";
    ViewBag.Title = "View Category";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewCategory</title>
    <link href="~/Stylesheet/pagination.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="background: #1f4037;  background: -webkit-linear-gradient(to right, #99f2c8, #1f4037); background: linear-gradient(to right, #99f2c8, #99f2c8);">
    <div class="container" style="height:1150px;font-family:'Times New Roman', Times, serif">
        <div class="row">


            @*<h1 style="text-align:center;margin-top:2%;">PRODUCT CATEGORY</h1>*@

            <div class="row" style="margin-bottom:40px;">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        using (Html.BeginForm("Delete", "Admin", new { id = item.cat_id }))
                        {
                            <div class="col-lg-4 col-md-4" style="height:220px;margin-top:150px;">
                                <img src="@Url.Content(item.cat_image)" style="height:250px;width:100%;" />
                                <br />
                                <h4 style="font-size:30px;color:white;font-family:'Arial Rounded MT';text-align:center;margin-top:20px;">@Html.ActionLink(item.cat_name, "AdminDisplayAdd", new { id = item.cat_id })</h4>
                                <br />
                                <div style="margin-left:160px;">
                                    <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.cat_id } , new {@class = "btn btn-danger btn-sm"})*@
                                </div>
                            </div>
                        }
                    }
                }
            </div>

        </div>


        <div class="row">
            <div style="margin-top:150px;">
                <div id="container" style="margin-left:20px">
                    <p></p>
                    <p></p>
                    <div class="col-md-4"></div>
                    <div class="col-md-4" style="text-align:center;">
                        <div class="pagination">
                            Page @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)
                            of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("ViewCategory", new { page }))
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>



        
    </div>
</body>
</html>

